@import '../../../styles/variables.css';

.login {
  margin: 0 auto;
  width: 55%;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 30px;

  & form label {
    margin-top: 20px;
  }
}

.buttonGoto {
  margin-top: 10px;
}

.buttonResetPassword {
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (--xsmall-viewport-max) {
  .login {
    width: 80%;
  }
}
