@import '../../../styles/variables.css';

.register {
  width: 60%;
  margin: 60px auto;

  & form > label {
    margin-top: 20px;
  }
}

.buttonGoto {
  margin-top: 10px;
}

@media (--xsmall-viewport-max) {
  .register {
    width: 80%;
  }
}
