@import '../../../styles/variables.css';

.wrapper {
  position: relative;
  font-family: var(--font-family-light);
  font-size: 13px;
  margin-top: 30px;

  & button {
    margin-top: 35px;
  }
}

.errorConsents {
  color: var(--error);
  font-size: 12px;
  width: 100%;
  position: absolute;
  bottom: -21px;
}
